body{
    margin:0;
}


#header{
    width: 100%;

    display: block;
    height:80px;
    padding: 10px;
	margin:2px;
}

#logo{
    margin: 20px;
	height:24px;
	width: 74px;
	display:inline-block;
    
}

.button1{
    margin-right: 30px;
    margin-top: 18px;
    background-color: #1a73e8;
    color: white;
    float:right;
    width:100px;
	font-size:17px;
	padding:9px 15px;
	border-radius:4px;
	cursor:pointer;
	border:1px solid transparent;
	font-family: Google Sans , 'Roboto' , RobotoDraft,Helvetica,Arial,sans-serif;
	letter-spacing: 0.25px;
	line-height: 16px;
	vertical-align:middle;
	text-align: center;
	box-sizing: border-box;
	
}


.appbar{
	display:block;
	font-style: inherit;
	font-weight: inherit;
	color: #d93025;
	padding: 0px 35px;
	font-size:16px;
	border-bottom: 1px solid rgba(0,0,0,0.1) ;
	
}

#advs{
	background-color: #1a73e8;
	color: white;
	float:right;
	font-size:17px;
	padding:9px 15px;
	border-radius:4px;
	cursor:pointer;
	border:1px solid transparent;
	font-family: Google Sans , 'Roboto' , RobotoDraft,Helvetica,Arial,sans-serif;
	letter-spacing: 0.25px;
	line-height: 16px;
}


body{
	font-family: 'Roboto', sans-serif;
	font-weight: 50;
}


.inputBox{
	border:1px solid rgba(0,0,0,0.4);
	height: 26px;
	width: 95%;
	padding: 1px 6px;
}

.inputBox:focus{
	outline: 1px solid rgba(26, 115, 232, 0.5);
}
.column {
	width:45%;
	float:left;
	text-align: left;
}


.column1{
	width:15%;
	float:left;
	margin-left: 0px;	
	text-align: left;
	font-family: arial, sans-serif;
	
}

.c1{
	width:60%;
	float: left;
	margin-bottom: 10px;
	font-family: arial, sans-serif;
	
}

.c2{
	margin-bottom: 10px;
	font-size: arial,sans-serif;
	color:#777;
	font-weight: 500;
}
.r1{
	margin: 20px 35px;
}
